<br><br>
<div class="feedback-form">
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message"></textarea><br>
        <button type="submit">Send</button>
    </form>
    {%if message%}
    <p>{{message}}</p>
    {%endif%}
</div>
<br><br>
