{%for i in info%}
<br><br>
<div class="card">
  <div class="left-container">
    <img src="{{i.picture.url}}" alt="Profile Image">
    <h2 class="gradienttext">{{i.firstname}}</h2>
    <p class="p">{{i.place}}</p>
  </div>
  <div class="right-container">
    <h3 class="gradienttext">About {{i.firstname}}</h3>
    <table>
        <tr>
            <td>First name :</td>
            <td>{{i.firstname}}</td>
        </tr>
        <tr>
            <td>Last name :</td>
            <td>{{i.lastname}}</td>
        </tr>
        <tr>
            <td>Age :</td>
            <td>{{i.age}}</td>
        </tr>
    </table>
</div>
</div>
<br><br>
{%endfor%}
