.road{
    width: 100%;
    height: 60px;
    border-top: 40px solid black;
    margin-top: -20px;
}
.car {
    top: 20px;
    width: 200px;
    height: 80px;
    animation-name: goback;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    left: 0;
  }
  
@keyframes goback {
    from {
      left: 0;
    }
    to {
      left: calc(100% - 200px); 
    }
}
