table{
    width: 20%;
}
table, td, tr{
    border: .5px solid #e0e0e0;
    border-collapse: collapse;
}
td{
    color: #000;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
}
tr:nth-child(odd){
    background-color: #e0e0e0;
}