button{
    width: 200px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 10px 20px 10px 0;
}
.button1{
    color: #fff;
    background-color: rgb(65, 112, 87);
}

.button2{
    color: #fff;
    background-color: rgb(105, 51, 49);
}
.button3{
    color: rgb(158, 159, 106);
    background-color: #fff;
    border: 1px solid rgb(158, 159, 106);
}